.red {
    color: #f00;
}

.font-size11 {
    font-size: 10px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #dee2e6 !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #fff;
}

.modal-body hr {
    border-color: #888;
}

.main_button {
    border-radius: 40px;
    font-size: 14px;
    background: linear-gradient(34.89deg, #4B2779 8%, #BE2475 83.76%);
    font-weight: 400;
    padding: 4px 15px 3px 15px;
    line-height: 24px;
    text-align: center;
    border: 0px;
    color: #fff;
}

.main_button1 {
    border-radius: 40px;
    font-size: 14px;
    background: linear-gradient(2.17deg, #327192 30.94%, #0C3873 69.79%);
    font-weight: 400;
    padding: 4px 15px 3px 15px;
    line-height: 24px;
    text-align: center;
    border: 0px;
    color: #fff;
}

.bg-success {
    padding: 5px 10px 3px 10px;
}

.bg-danger {
    padding: 5px 10px 3px 10px;
}

.action-icon i {
    background: -webkit-linear-gradient(#4B2779, #be2475);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.action-icon {
    background-color: transparent !important;
    border: 0;
    color: #9C27B0 !important;
    font-size: 16px !important;
}

.auth-brand.text-center.text-lg-start span img {
    width: 200px;
}

.auth-brand.text-center.text-lg-start img {
    width: 200px;
}

div#list-industry li{
    height: 34px !important;
    padding: 5px 17px 5px 24px !important;
    border-radius: 50px !important;
    cursor: pointer;
    margin-top: 7px;
    font-weight: 600 !important;
    background: #cccccc36 !important;
    font-size: 14px;
    list-style: none;
    float: left;
    margin-right: 10px;
    border: 1px solid #aaaaaa52 !important;
}


h5.mt5 {
    margin-top: 2px;
}

/* to solve hidden text when manage master's industry's drop-down opening */

.select2-container--default .select2-results__option[aria-selected=true], .select2-results__option .select2-results__option--highlighted[aria-selected=true] {
    background-color: #536de6;
    color: #fff;
}