html,
body {
    height: 100%;
    font-family: "Lato", sans-serif !important;
}

/* Style the entire scrollbar */
body::-webkit-scrollbar {
    width: 5px;
    /* Width of the vertical scrollbar */
    height: 2px;
    /* Height of the horizontal scrollbar */
}

/* Style the scrollbar thumb */
body::-webkit-scrollbar-thumb {
    background: linear-gradient(34.89deg, #4B2779 8%, #BE2475 83.76%);
    /* Gradient color for the thumb */
    border-radius: 10px;
    /* Roundness of the scroll thumb */
    box-shadow: 0 0 0 3px #f1f1f1;
    /* Simulating a border with box-shadow */
}

/* Style the scrollbar track */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the scrollbar track */
    border-radius: 10px;
    /* Roundness of the track */
}

.rounded-sm {
    border-radius: 2px;
}

.rounded {
    border-radius: 4px;
}

.rounded-md {
    border-radius: 6px;
}

.rounded-lg {
    border-radius: 8px;
}

.rounded-xl {
    border-radius: 12px;
}

.fs-7 {
    font-size: 12px !important;
}

.auth_form {
    overflow: hidden;
}

.auth_img {
    background-image: url("images/auth-img.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_heading {
    font-size: 24px;
    line-height: 50px;
    font-weight: 500;
    color: #000c;
    text-align: center;
}

.w360 {
    width: 360px;
}

.bg_cream {
    background-color: #E9DCD6;
}

.purple {
    color: #901D56;
}

.orange {
    color: #F3901E;
}

.aquamarine {
    color: #2FACAB;
}

.color_golden {
    color: #b24020;
}

.heading h2,
.heading h5 {
    font-size: 24px;
    font-weight: 300;
    color: #901D56;
}

.heading p {
    font-size: 12px;
    height: 14px;
    color: #909090;
}

.input_text {
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    padding-bottom: 8px;
    padding-left: 0;
}

.input_icon {
    position: absolute;
    right: 6px;
    margin-top: 39px;
    width: 18px;
    background: #fff;
}

.purple_btn button,
button.purple_btn {
    border: none;
    color: white;
    border-radius: 40px;
    font-size: 15px;
    background: linear-gradient(34.89deg, #4B2779 8%, #BE2475 83.76%);
    font-weight: 400;
    padding: 4px 33px 5px 33px;
    line-height: 24px;
    text-align: center;
}

button.purple_btn {
    border: 0;
}

.divider {
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 43%;
    height: 1px;
    background-color: #BDBDBD;
}

.divider::before {
    right: 54%;
    margin-right: 10px;
}

.divider::after {
    left: 54%;
    margin-left: 10px;
}

.google_btn {
    background: transparent;
    padding: 8px 39px;
    border-radius: 50px;
    display: unset;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #6F6F6F;
    border: 1px solid #656565;
}

p.divider {
    color: #BDBDBD;
}

.google_icon {
    width: 16px;
    height: 16px;
}

.login_width a {
    text-decoration: none;
}

.blue_btn button {
    border-radius: 40px;
    font-size: 15px;
    background: linear-gradient(2.17deg, #327192 30.94%, #0C3873 69.79%);
    font-weight: 400;
    padding: 4px 33px 5px 33px;
    line-height: 24px;
    text-align: center;
    border: 0px;
}

.blue_btn a {
    border-radius: 40px;
    font-size: 15px;
    background: linear-gradient(2.17deg, #327192 30.94%, #0C3873 69.79%);
    font-weight: 400;
    padding: 7px 33px 8px 33px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.thankyou_page_login_btn a, .thankyou_page_view_btn a {
    padding: 7px 18px 8px 18px !important;    
    position: relative;
    top: 20px;
}

.bluegradian_bg {
    background: linear-gradient(2.17deg, #327192 30.94%, #0C3873 69.79%);
    color: #fff;
    border: 0;
    padding: 4px 30px 5px 30px;
    line-height: 24px;
}


strong.get_back_into_text {
    font-weight: 300 !important;
}


.input_select {
    border: none;
    border-bottom: 1px solid lightgray;
    padding-left: 0;
}

.inherit {
    color: inherit;
}

.text-xs {
    font-size: 12px;
    line-height: 16px;
}

.text-sm {
    font-size: 14px;
    line-height: 20px;
}

.text-base {
    font-size: 16px;
    line-height: 24px;
}

.text-lg {
    font-size: 18px;
    line-height: 28apx;
}

.search_input input {
    width: 380px;
    background: #eeeeee;
    padding: 11px 20px 12px 20px;
    border-radius: 15px 0 0 15px;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.pt80 {
    padding-top: 80px;
}

.pt100 {
    padding-top: 100px;
}

.search_input button {
    padding: 0;
    border: none;
    background: transparent;
}

.search_input button img {
    width: 49px;
}

.profile {
    background: white;
    border-radius: 25px;
    padding: 20px 25px 30px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile .avatar {
    margin-top: -30px;
    width: 87px;
    height: 87px;
    border-radius: 100%;
}

.candidates {
    background: linear-gradient(177deg, #0c3873 27%, #33769a 100%);
    border-radius: 25px;
    padding: 25px;
    color: white;
}

.candidates ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.candidates ul li img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.candidates span {
    font-size: 12px;
}

.home_copyight,
.post_form .media button span {
    font-size: 12px;
    color: #4d4b4b;
    padding-left: 3px;
}

.post_form {
    display: flex;
    gap: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: white;
    padding: 25px;
    border-radius: 25px;
}

.post_content {
    color: #888;
    font-size: 14px;
    line-height: 18px;
    width: 80%;
}

.post_form .input {
    position: relative;
}

.post_form input {
    width: 100%;
    padding: 7px 25px;
    border-radius: 25px;
    background: #dfdfdfcc;
    border: none;
}

.post_form input::placeholder,
.post input::placeholder {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #AEAEAE !important;
}

.search_input input::placeholder {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #AEAEAE !important;
}

.post_form .emoji {
    position: absolute;
    top: 9px;
    right: 9px;
}

.post_form .media button {
    background: transparent;
    border: none;
    padding-left: 10px;
}

.post_form .purple_btn button:not(button.purple_btn) {
    padding: 4px 18px 5px 18px;
    font-size: 10px;
    line-height: 14px;
}

.like_comnts_n_events span {
    color: #888;
    font-size: 14px;
}

.profile button.purple_btn {
    padding: 6px 40px 7px 40px;
    width: 180px;
}


.post {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: white;
    padding: 25px;
    border-radius: 25px;
}

.post .fa-ellipsis-vertical {
    cursor: pointer;
}

.comment_input {
    width: 100%;
    padding: 10px 25px;
    border-radius: 25px;
    background: #eeeeee;
    border: none;
    border: 0 !important;
}

.activity {
    border-radius: 25px;
    padding: 25px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 5px 10px 24px;
    background: #fff;
}

.activity span.text-xs {
    color: #888;
}

.activity .text-sm {
    font-size: 11px;
    font-weight: 600;
    color: #545454;
}

.activity ul li img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.left_sidebar {
    position: fixed;
    height: 100%;
    width: 280px;
    overflow-y: auto;
}

.left_sidebar::-webkit-scrollbar {
    width: 0;
    /* This will hide the scrollbar track */
}





.right_sidebar {
    position: fixed;
    height: 100%;
    width: 280px;
    overflow-y: auto;
}

.right_sidebar::-webkit-scrollbar {
    width: 0;
    /* This will hide the scrollbar track */
}

.right_sidebar .footer_quick_links a {
    font-size: 14px;
    color: #888;
}

.footer_quick_links .list-group-item {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0px 3px;
}

.header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    border-radius: 0px 0px 25px 25px !important;
    height: 80px;
    backdrop-filter: blur(10px);
    background-color: rgb(255 255 255 / 80%);
}

.profile_tabs li {
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}

.profile_tabs li:last-child {
    border-bottom: none;
}

.profile_tabs .active {
    color: #ae446a;
}

.about_headers {
    background-image: url(/assets/images/about-bg.jpg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 150px !important;
    padding-bottom: 30px;
}

.a_m_h {
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
}

.a_c_h {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #ae446a;
}

.pddleft40 {
    padding-left: 35px !important;
}

.p_color {
    color: #656565;
}

.h_m_h {
    font-size: 48px;
    font-weight: 400;
    line-height: 57px;
    color: #656565;
}

.h_input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.notification_modal {
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: #f8f8f8;
    width: 360px;
    box-shadow: 0px 8px 40px 0px #0000001A;
}

.profile_font {
    color: #3C3C3C;
    font-weight: 500;
}

.notification_modal .count_label {
    width: 20px;
    height: 20px;
    background: #842577;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: white;
}

.notification_modal .item {
    background: #FFFFFF;
    padding: 15px;
    border-radius: 7px;
    color: #7A7878;

}

.notification_modal .dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #842577;
    margin-bottom: 0;
}

.notification_modal .username {
    color: black;
    font-weight: 500;
}

.login_width {
    width: 360px;
}

.width140 {
    width: 120px;
}

.download img {
    width: 100%;
    height: 33px;
    /* object-fit: scale-down; */
}

.color_golden {
    color: #b24020;
}

.login_logo img {
    position: absolute;
    margin-left: 0px;
    right: 17px;
    width: 170px;
    top: 9px;
}

body {
    overflow-x: hidden;
}

.post .action {
    position: relative;
    width: 30px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.post .action:hover {
    background-color: rgba(211, 211, 211, 0.77);
}

.post .dropdown_wrapper {
    position: absolute;
    width: 130px;
    background: white;
    right: 38px;
    top: 6px;
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.post .dropdown_wrapper.show {
    display: flex;
}

.post .dropdown_wrapper button {
    background-color: lightgray;
    border-radius: 5px;
    border: none;
}

.font-size18 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
    padding-bottom: 10px;
}

.font-size40 {
    font-size: 45px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-bottom: 1px solid #aaa !important;
    border: 0px !important;
    margin-top: 9px;
    font-weight: 300;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    border-bottom: 1px solid #ccc;
}

.select2-container--open .select2-dropdown--below {
    border-top: 1px solid #ccc !important;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: 1px solid #ccc !important;
}

ul.select2-results__options li.select2-results__option {
    cursor: pointer;
}

ul.select2-results__options li.select2-results__option:hover {
    background-color: #f3f1f1;
}

.register_image {
    position: fixed;
    top: 0px;
    width: 33%;
    height: 100vh;
    object-fit: cover;
}

.register_date_field {
    background-image: url(/assets/images/calender_icon.png);
    height: 38px;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    background-size: 17px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

/* .register_image {
height: 100vh;
   object-fit: cover;
 object-position: left;
} */
.register_width {
    width: 680px;
}

/* email otp */

#email_otp_model .modal-content {
    margin: 0px auto;
    width: 90%;
}

#email-verify-otp .modal-body,
#email-verify-otp .modal-footer {
    padding: 0px 1rem .75rem !important;
}

#email-verify-otp .modal-footer,
#email_otp_model .modal-header {
    border: 0px !important;
}

.intl-tel-input input {
    padding-left: 47px !important;
}

.fonts24 {
    font-size: 24px;
}

img.prroceed_icons {
    width: 65px;
}

button.btn-close {
    position: absolute;
    right: 3px;
    top: 3px;
}

.terms_font {
    font-size: 14px;
    color: #656565;
}

.mt80 {
    margin-top: 80px;
}

.form-control:focus {
    border-color: #ccc !important;
    outline: 0;
    box-shadow: none !important;
}

.form-control {
    border: 0 !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
    padding: 0 !important;
    font-weight: 300 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    color: #656565 !important;
    padding-left: 5px !important;
}

.cls_now {
    font-size: 44px;
    color: #b24020;
    text-transform: uppercase;
}

label.form-label {
    font-size: 15px;
    font-weight: 600;
    color: #6f6f6fe8;
    margin-bottom: 0px;
}

input::placeholder {
    font-size: 16px !important;
    font-weight: 300;
    color: #656565 !important;
}

label.error {
    color: #f00;
    font-size: 12px;
}

section.auth_form a {
    text-decoration: none;
}

p.divider {
    width: 360px;
}

form#login-form label.form-check-label {
    color: #909090 !important;
    font-size: 12px;
    top: -1px;
}

form#login-form p {
    color: #656565 !important;
    font-weight: 500;
    position: relative;
    top: 6px;
    font-size: 12px;

}

.fs-16 {
    font-size: 16px !important;
    height: auto !important;
    color: #909090;
    padding-bottom: 10px;
}

.register_width p {
    color: #909090 !important;
    font-weight: 300;
    position: relative;
    top: 6px;
    font-size: 20px
}

.register_width p a {
    font-weight: 600;
    color: #901D56;
}

.form-select {
    background-image: url(/assets/images/arrow_dropdown.png) !important;
    background-size: 4% !important;
}

form#login-info {
    width: 300px;
}

a.pdf_view {
    position: absolute;
    float: right;
    color: #AE446A;
    font-size: 14px;
    left: 94px;
    margin-top: 2px;
}

.skills-info-first {
    width: 600px;
}

.after_login button {
    font-weight: 700 !important;
    padding: 3px 20px 3px 20px !important;
    line-height: 24px !important;
    font-size: 12px !important;
}

.login_user span {
    color: #9B9B9B;
    position: relative;
    top: 1px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.email_icon {
    background-image: url(/assets/images/email.png) !important;
    background-size: 4% !important;
    background-repeat: no-repeat;
    background-position: right .75rem center;
}

.password_icon {
    background-image: url(/assets/images/key.png) !important;
    background-size: 4% !important;
    background-repeat: no-repeat;
    background-position: right .75rem center;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 0px solid #aaa !important;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 0px solid #aaa;
    border-radius: 0px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
    border-bottom: 1px solid #ccc !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 0 !important;
    outline: 0;
    border-bottom: 1px solid #ccc !important;
}

input#formFile::file-selector-button {
    color: #656565 !important;
    border: none;
    padding: 0px 0px 0px 0px;
    background: #fff;
    font-weight: 400;
    font-size: 15px;
    margin-left: 0px;
    border-radius: 50px;
    position: relative;
    top: 0px;
}

.pddleft50 {
    padding-left: 80px !important;
    padding-top: 60px;
    padding-bottom: 60px;
}

.width45 img {
    width: 90%;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
}

.mt50 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.font-size70 {
    font-size: 60px;
    text-shadow: -1px 0px 1px;
    font-weight: 400;
}

.width45 {
    width: 44% !important;
}

.width55 {
    width: 56% !important;
}

.expt_button {
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 56px;
    color: #b24020;
}

.last_chance {
    padding-left: 170px;
    margin-top: -29px;
    font-size: 35px;
    position: relative;
    left: 100px;
}

.font24 {
    font-size: 24px;
}

.font26 {
    font-size: 26px;
}

.font28 {
    font-size: 28px;
}

footer b {
    font-size: 15px;
    font-weight: 600;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */

span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus li.select2-search.select2-search--inline {
    display: block;
}

li.select2-search.select2-search--inline {
    display: block;
}



.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 0px solid #aaa !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: transparent !important;
    border: 1px solid #aaaaaa52 !important;
    padding-right: 10px !important;
}

span.select2-selection.select2-selection--multiple {
    border-radius: 0;
    margin-top: 4px !important;
}

.linkedin_icon {
    width: 26px;
    margin-top: 30px;
}

.twitter_icon {
    width: 26px;
    margin-top: 30px;
}

.insta_icon {
    width: 28px;
    margin-top: 30px;
}

.facebook_icon {
    width: 26px;
    margin-top: 30px;
}

.menu_rightsidebaar img {
    width: 26px;
}

.menu_rightsidebaar span {
    color: #545454;
    font-weight: 600;
    font-size: 12px;
    padding-top: 3px;
}

input.h_input::placeholder {
    font-size: 16px !important;
    color: #B5B5B5 !important;
}

.notification_box {
    position: absolute;
    top: 80px;
    margin-left: -150px;
}

.notifty_hed {
    font-size: 20px;
    font-weight: 500;
}

.notification_modal img {
    width: 40px;
    margin-right: 8px;
}

.notification_modal .username {
    color: #3F3F3F;
    font-weight: 600;
    font-size: 14px;
}

.mark_read {
    font-size: 12px;
}

.notification_modal span.text-xs {
    color: #7A7878;
}



/** footer open **/

.ms-footer-wrap {
    padding: 2rem 0 0px;
    /*background-color: #434242;*/
    /*#312c2f*/
}

.ms-footer-copyright {
    padding: 2.5rem 1rem .7rem;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.ms-footer-copyright p {
    margin: 0;
    line-height: 1;
    font-size: 11px;
}

.ms-footer-logo-imgbox {
    margin: 0 0 2rem 0;
    width: 100%;
    max-width: 15.5rem;
    position: relative;
    display: block;
    flex-shrink: 0;
}

.ms-footer-logo-imgbox::before {
    /* padding-top: 51.61290322580645%; */
    /* width: 100%; */
    /* content: ''; */
    display: block;
}

.ms-footer-logo-imgbox img {
    display: block;
    width: 244px;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.ms-footer-heading>* {
    display: block;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-width: 0 0 0 3px;
    border-style: solid;
    border-color: #FFF;
    letter-spacing: 1px;
    padding-left: 1.5rem;
    margin: 0 0 24px;
    text-transform: uppercase;
}

.ms-address-row {
    display: flex;
    align-items: flex-start;
    color: #fff;
}

.ms-address-ui {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    border: 1px solid #FFF;
    color: #e79b3f;
    flex-shrink: 0;
}

.ms-ad-heading {
    font-weight: 400;
    line-height: 1.4;
    font-size: 16px;
    display: block;
}

.ms-address-content {
    font-size: 13px;
    line-height: 1.286;
    margin-bottom: 2rem;
    display: block;
    text-decoration: none;
    color: #fff;
}

.ms-footer-services {
    padding: 0;
    margin: 0;
}

.ms-footer-services>li::before {
    display: none;
    padding: 0;
}

.ms-footer-services-link {
    color: #fff;
    padding: 0.4rem 0;
    display: block;
    letter-spacing: .6px;
    font-size: 13px;
    line-height: 1.538;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    list-style: none !important;
    font-weight: 400;
}

.ms-footer-services-link:hover {
    color: #ccc;
}

.ms-footer-social {
    display: flex;
    flex-wrap: wrap;
    color: #fff !important;
}

.ms-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.3rem;
    font-size: 14px;
    transition: transform 0.3s;
    color: #fff !important;
    text-decoration: none;
}

.ms-social-link:focus,
.ms-social-link:hover {
    transform: translateY(-3px);
    opacity: 0.8;
}

.ms-social-link.facebook {
    background-color: #3b5998;
}

.ms-social-link.linkdin {
    background-color: #0077b5;
}

.footer_app p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* .android_app img {
    width: 106%;
} */

/* .ios_app img {
    width: 93%;
} */

.ms-footer-wrap .col-12 {
    margin-bottom: 0;
}

.ms-footer {
    background-image: url(https://manalot.com/public/gfx/footer-bg.png);
    background-size: cover;
    margin-top: 60px;
}

ul.ms-footer-services li {
    list-style: none;
}

div#user-add-details {
    margin-top: 0px;
}

div#personal-details {
    margin-top: 0px;

}

#logininfo_one {
    margin-top: -100px;
}

#education_info_one {
    margin-top: -100px;
}

#skill_info_one {
    margin-top: -150px;
}

#cirtificate_one {
    margin-top: 0px;
}

#availibility_one {
    margin-top: -30px;
    padding-bottom: 70px;
}

#work_autho {
    margin-top: 120px;
}

.select_industries {
    padding-right: 25px !important;
}

.currently_work {
    text-align: right;
    padding-top: 20px;
}

button.btn.btn-success.add-row,
a.btn.btn-success.add-row {
    color: #901D56;
    background: transparent;
    border: 0;
    padding: 0;
    text-decoration: underline;
}


button.btn.btn-success.add-reference-row {
    color: #901D56;
    background: transparent;
    border: 0;
    padding: 0;
    text-decoration: underline;
}

button.btn.btn-danger.remove-reference-row {
    color: #0c3873;
    background: transparent;
    border: 0;
    padding: 0;
    text-decoration: underline;
}

button.btn.btn-danger.remove-row {
    color: #0c3873;
    background: transparent;
    border: 0;
    padding: 0;
    text-decoration: underline;

}

.btn-check:focus+.btn-success,
.btn-success:focus {
    box-shadow: none !important;
}

.btn-check:focus+.btn-danger,
.btn-danger:focus {
    box-shadow: none !important;
}

.checkbox_error label#term_check-error {
    position: absolute;
    margin-top: 25px;
}

.leble_size {
    font-size: 12px;
    font-weight: 400;
}

.register_width .col-md-6.mb-4:nth-child(even) {
    padding-left: 30px;
}

.register_width .col-md-6.mb-4:nth-child(odd) {
    padding-right: 30px;
}

.cirtificate_pdd .col-md-6:nth-child(even) {
    padding-left: 15px !important;
    padding-right: 30px;
}

.cirtificate_pdd .col-md-6:nth-child(odd) {
    padding-left: 30px;
    padding-right: 0px !important;
}

.education-row .col-md-6:nth-child(even) {
    padding-left: 30px !important;
    padding-right: 0px;
}

.education-row .col-md-6:nth-child(odd) {
    padding-left: 12px;
    padding-right: 30px !important;
}

.intl-tel-input {
    margin-top: 8px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
}

.fonts36 {
    font-size: 36px !important;
    font-weight: 500 !important;
}

div#thankyou-page {
    margin-top: 80px;
}

#doc_verify_div {
    margin-top: 80px;
}

.reference-row .col-md-6:nth-child(even) {
    padding-left: 42px;
}

.reference-row .col-md-6:nth-child(odd) {
    padding-right: 17px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #8880 transparent transparent transparent !important;
    border-style: hidden !important;
    border-width: 5px 4px 0 4px;
    height: 52px !important;
    left: 50%;
    margin-left: -6px;
    margin-top: 5px !important;
    position: absolute;
    top: 50%;
    width: 17px !important;
    background-image: url(/assets/images/arrow_down.svg);
    background-size: 16px;
    background-repeat: no-repeat;
}

.purple_btn a {
    background: linear-gradient(34.89deg, #4B2779 8%, #BE2475 83.76%);
    border-radius: 40px;
    font-size: 15px;
    font-weight: 400;
    padding: 7px 33px 8px 33px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.purple_btn_close button {
    background: transparent;
    border: 0;
    color: #592678;
    padding: 0 !important;
    position: relative;
    top: -30px;
}

.resend_otp a {
    color: #9c27b0;
    text-decoration: underline !important;
    margin-left: 5px !important;
}

#toast-container>div {
    padding: 10px 15px 11px 40px !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    opacity: 1 !important;
    border: 0 !important;
    background-position: 10px center !important;
}

.toast-close-button {
    color: #000000 !important;
    opacity: 1 !important;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px !important;
    background-color: #7e6667 !important;
    opacity: .4;
}

.toast-error {
    background-color: #ffe4e3 !important;
    color: #6b2529 !important;
}

body div#toast-container .toast.toast-error {
    background-image: url(/assets/images/cancel_icon.png) !important;
    background-size: 20px;
}

.toast-success {
    background-color: #d8f2e3 !important;
    color: #004f2d !important;
}

body div#toast-container .toast-success {
    background-image: url(/assets/images/check-mark1.png) !important;
    background-size: 20px;
}

.toast-message {
    font-size: 12px;
    line-height: 15px;
    padding-top: 2px;
}

#toast-container>div {
    width: 260px !important;

}

.terms_cdn {
    margin-left: 25px;
}

.custom-checkbox {
    display: block;
}

/* Create a custom checkbox */
.custom-checkbox+label {
    position: relative;
    cursor: pointer;
    padding-left: 0px;
    user-select: none;
}

/* Create the box around the checkbox */
.custom-checkbox+label:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 2px solid #901D56;
    background-color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Style the checkmark */
.custom-checkbox:checked+label:before {
    border-color: #901D56;
    background: linear-gradient(34.89deg, #4B2779 8%, #BE2475 83.76%);
    border: 0px solid #901D56;
}

.custom-checkbox:checked+label:after {
    content: "";
    position: absolute;
    left: -19px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: none !important;
}

.custom-radio {
    display: none;
}

/* Create a custom radio button */
.custom-radio+label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    user-select: none;
    margin-bottom: 0px;
}

/* Create the circle around the radio button */
.custom-radio+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    border: 2px solid #901D56;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Style the dot inside the radio button */
.custom-radio:checked+label:before {
    border-color: #901D56;
}

.custom-radio:checked+label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 7px;
    width: 8px;
    height: 8px;
    background: linear-gradient(34.89deg, #4B2779 8%, #BE2475 83.76%);
    border-radius: 50%;
}

.writewithai img {
    width: 25px;
    margin-right: 8px;
    position: relative;
    top: -2px;
}

.writewithai {
    border: 0px solid #ccc;
    border-radius: 50px;
    position: absolute;
    margin-top: 19px;
    color: #901D56 !important;
}

.writewithai span {
    color: #901D56 !important;
    text-decoration: underline;
}

.sallery_width1 {
    width: 20%;
    float: left;
}

.sallery_width2 {
    width: 80%;
    float: left;
    padding-top: 1px;
}

.sallery_width1 span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.sallery_width2 input {
    padding-left: 15px !important;
}

.sallery_width2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-size: 10px !important;
}

.sallery_width1 .select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-size: 10px !important;
}

button.btn.btn-success.add-edu-row {
    color: #901D56;
    background: transparent;
    border: 0;
    padding: 0;
    text-decoration: underline;
}

.select2-results__option.select2-results__option--highlighted {
    background: #ccc;
}

input#resume_cv,
input#formFile,
input#profile_photo {
    position: relative;
    z-index: 2;
    background-color: transparent;
}

button.btn.btn-danger.remove-edu-row {
    color: #0c3873;
    background: transparent;
    border: 0;
    padding: 0;
    text-decoration: underline;
}

.work_authorization .col-md-6:nth-child(odd) {
    padding-right: 30px !important;
}

.work_authorization .col-md-6:nth-child(even) {
    padding-left: 30px !important;
    padding-right: 12px;
}

.work_authorization .col-md-6 span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

div#option-skills ul {
    float: left;
    width: 100%;
    display: block;
    clear: both;
}

div#option-skills ul li {
    float: left;
    height: 36px;
    text-align: center;
    padding: 6px 19px;
    margin-bottom: 11px;
    border: 1px solid #aaaaaa52;
    margin-right: 6px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    background: #fff;
}


#work-details-div .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 20px !important;
    left: 3px !important;
}

#work-details-div .select2-container--default .select2-selection--multiple .select2-selection__choice {

    height: 34px !important;
    padding: 5px 17px 5px 24px !important;
    border-radius: 50px !important;
    cursor: pointer;
    margin-top: 7px;
    font-weight: 600 !important;
    background: #cccccc36 !important;
    font-size: 14px;
}


#availibility_one .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 20px !important;
    left: 3px !important;
}

#availibility_one .select2-container--default .select2-selection--multiple .select2-selection__choice {

    height: 34px !important;
    padding: 5px 17px 5px 24px !important;
    border-radius: 50px !important;
    cursor: pointer;
    margin-top: 7px;
    font-weight: 600 !important;
    background: #cccccc36 !important;
    font-size: 14px;
}

#social_media_div input::placeholder {
    color: #22222269 !important;
}

#work-details-div span.select2.select2-container.select2-container--default.select2-container--focus.select2-container--below.select2-container--open {
    width: 100% !important;
}

#work-details-div span.select2.select2-container.select2-container--default.select2-container--focus.select2-container--below {
    width: 100% !important;
}

#work-details-div span.select2.select2-container.select2-container--default.select2-container--below {
    width: 100% !important;
}

div#social_media_div {
    width: 700px;
}

.register_width form#social-media-info .col-md-6.mb-4:nth-child(odd) {
    padding-right: 20px;
}

.register_width form#social-media-info .col-md-6.mb-4:nth-child(even) {
    padding-left: 20px;
}

@media(max-width: 767px) {
    .mobile_none {
        display: none;
    }

    .select2-container--default .select2-selection--single {
        background-color: transparent !important;
    }

    .select2-container--default .select2-selection--multiple {
        background-color: transparent !important;
    }

    .select2-container { 
        width: 100% !important;
    }

    .form-control {
        padding-left: 0px !important;
    }

    body .custom-checkbox+label:before {
        background-color: #f1f1f1 !important;
    }

    body {
        background-image: url(/assets/images/login-bg-main.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form-control {
        background-color: transparent !important;
    }

    p.dont_settle {
        margin-bottom: 0px;
    }



    .display_blck1 {
        display: block;
    }

    .purple_btn button,
    button.purple_btn {
        font-size: 14px;
        padding: 4px 15px 5px 15px;
    }



    .blue_btn button {
        font-size: 14px;
        padding: 4px 15px 5px 15px;
    }

    .blue_btn a {
        font-size: 14px;
        padding: 7px 15px 8px 15px;
    }

    .padd15 {
        padding-left: 0 !important;
    }

    .register_width p { 
        font-size: 20px;
    }

    div#thankyou-page .purple_btn a {
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-size: 13px !important;
        margin-left: 10px;
    }

    div#thankyou-page .blue_btn a {
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-size: 13px !important;
    }

    .thankyou_page_login_btn a, .thankyou_page_view_btn a {
        padding: 7px 18px 8px 18px !important;
        position: relative;
        top: 14px;
    }

    .d_block {
        display: block;
    }

    div#thankyou-page .mgright20 {
        margin: 0px !important;
        margin-top: 30px !important;
        gap: 0rem !important;
    }

    .heading h2 {
        text-align: left !important;
    }

    .login_width {
        background-image: url(/assets/images/login_bg_purple_img.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    div#thankyou-page {
        margin-top: 20px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img.prroceed_icons {
        width: 54px;
    }

    .pddleft50 {
        padding-left: 30px !important;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 30px !important;
        position: relative;
        /* z-index: 0; */
    }

    html {
        overflow-x: hidden;
    }

    .login_logo {
        height: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center; 
    }

    .form-control {
        font-weight: 400 !important;
    }

    .login_logo:before {
        /* content: ""; */
        background: url(/assets/images/background_rounded_lines2.svg) no-repeat right;
        width: 100%;
        background-size: cover;
        height: 280px;
        position: absolute;
        z-index: 0;
        display: block;
        top: -30px;
        right: -10px;
    }

    .login_logo a {
        position: relative;
        top: 0px;
        text-align: center;
    }

    .login_logo a img {
        position: relative;
        width: 70%;
        /* right: -40px; */
        right: 0px;
    }

    img.mobile_login_image {
        width: 100%;
        position: relative;
        right: 0px;
        top: 40px;
    }

    .font-size70 {
        font-size: 36px;

    }

    .heading h2 {
        text-align: center;
    }

    .heading p {
        text-align: center;
        width: 60%;
    }

    .main_heading {
        font-size: 22px;
        line-height: 50px;
        display: none;
    }

    .login_width {
        width: 100%;
        padding: 35px 30px 20px;
        position: relative;
        top: 0px;
    }

    .no_padding .pddleft50 {
        padding-left: 0px !important;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-right: 0px !important;
        position: relative;
        z-index: 1;
    }

    .auth_form .bg_cut_img {
        /* background: url(/assets/images/login_bg_purple_img.png) no-repeat center bottom;
        width: 100%;
        background-size: 96%;
        top: 0px;
        padding: 60px 30px 30px; */
        position: absolute;
        width: 100%;
        height: 72vh;
        object-fit: cover;
    }

    form#login-form-mob {
        position: relative;
        top: 30px;
    }

    form#login-form-mob p {
        color: #656565 !important;
        font-weight: 500;
        position: relative;
        top: 6px;
        font-size: 12px;
    }

    form#login-form-mob div:not(:last-child) {
        width: 95%;
    }

    .no_padding label.form-label {
        font-weight: 500;
        color: #ffffffe8;
    }

    #login-form-mob .form-control {
        font-weight: 400 !important;
        color: #ffffff !important;
        background-color: transparent !important;
    }

    #login-form-mob .form-control::placeholder {
        color: #ffff !important;
    }

    .input_icon {
        display: none;
    }

    form#login-form-mob p {
        color: #9c98a9 !important;
        top: 0px;
        margin-bottom: 0px;
    }

    .b_20 {
        position: relative;
        bottom: 18px;
    }

    .minalgn_button {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #login-form-mob .purple_btn button {
        font-size: 17px;
        background: #fff;
        font-weight: 700;
        padding: 5px 10px 5px 10px;
        width: 100% !important;
        box-shadow: 0px 4px 11px #ffffff6e;
        line-height: 25px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        position: relative;
    }

    #login-form-mob .form-control {
        padding-left: 0px !important;
    }

    .minalgn_button button:before {
        float: inline-end;
        background: linear-gradient(254.89deg, #4B2779 8%, #BE2475 83.76%);
        color: #fff;
        padding: 0px;
        border-radius: 50px;
        width: 27px;
        height: 27px;
        content: "\f105";
        font-family: 'fontAwesome';
        position: absolute;
        right: 10px;
    }

    #login-form-mob .purple {
        color: #ffffff;
    }

    p.divider {
        font-size: 10px;
    }

    .google_btn {
        padding: 8px 9px;
        font-size: 11px;
        border: 1px solid #ffffff;
        color: #fff;
        text-transform: capitalize;
    }

    .bluegradian_bg {
        padding: 8px 13px 8px 13px;
        line-height: 20px;
    }

    .document_required {
        padding-left: 0px !important;
    }

    .work_authorization .col-md-6:nth-child(even) {
        padding-left: 10px !important;
        padding-right: 32px;
        padding-top: 20px;
    }

    .mt50 {
        margin-top: 23px;
        margin-bottom: 10px;
    }

    body .mobile-d-block {
        display: block !important;
    }

    .google_btn {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    p.divider {
        width: 100%;
    }

    .width55 {
        width: 100% !important;
    }

    .last_chance {
        padding-left: 0;
        margin-top: -15px;
        font-size: 18px !important;
        position: relative;
        right: 0px;
    }

    .width45 img {
        width: 90%;
        float: none;
        margin-right: auto;
        margin-top: 30px;
        margin-left: auto;
        display: block;
    }

    .width45 {
        width: 100% !important;
    }

    .font-size18 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        padding-bottom: 10px;
    }

    .cls_now {
        font-size: 30px;
        position: relative;
        top: 5px;
    }

    .manalot_leadership_heading {
        font-weight: 600;
    }

    .expt_button {
        font-size: 24px;
    }


    .get_back_into_text {
        font-size: 20px;
    }

    strong.get_back_into_text {
        font-weight: 600 !important;
        line-height: 34px;
    }

    .ms-footer {
        margin-top: 25px;
    }

    .ms-footer-heading {
        padding-top: 30px;
    }

    .ms-footer-heading>* {
        margin: 0 0 12px;
        padding-left: 10px;
    }

    .ms-address-content {
        font-size: 13px;
        line-height: 1.286;
        margin-bottom: 10px;
        display: block;
        text-decoration: none;
        color: #fff;
    }

    .register_image {
        display: none;
    }

    .register_width {
        width: 100% !important;
    }

    .register_width .col-md-6.mb-4:nth-child(even) {
        padding-left: 10px;
    }

    .register_width .col-md-6.mb-4:nth-child(odd) {
        padding-right: 10px;
    }

    .register_width form#social-media-info .col-md-6.mb-4:nth-child(odd) {
        padding-right: 5px;
        padding-left: 5px;
    }

    .register_width form#social-media-info .col-md-6.mb-4:nth-child(even) {
        padding-left: 5px;
        padding-right: 5px;
    }

    .register_width form#social-media-info .col-lg-12 {
        padding-left: 12px;
        padding-right: 12px;
    }

    .auth_form {
        width: 100%;
    }

    /* .login_logo img {
        float: right;
    } */

    #email_otp_model .modal-content {
        margin: 0px auto;
        width: 100%;
    }

    .currently_work {
        text-align: right;
        padding-top: 0px;
        float: left !important;
    }

    .writewithai {
        border: 0px solid #ccc;
        border-radius: 50px;
        position: relative;
        margin-top: 20px;
        color: #901D56 !important;
    }

    .cirtificate_pdd .col-md-6:nth-child(even) {
        padding-left: 13px !important;
        padding-right: 13px;
    }

    .cirtificate_pdd .col-md-6:nth-child(odd) {
        padding-left: 13px !important;
        padding-right: 13px !important;
    }

    div#availibility_one .row.reference-row.mt-4 {
        padding-right: 0;
    }

    div#availibility_one .reference-row .col-md-6:nth-child(even) {
        padding-left: 13px;
        padding-right: 0;
    }

    div#availibility_one .reference-row .col-md-6:nth-child(odd) {
        padding-right: 0px;
    }

    .option {
        margin-top: 0px !important;
    }

    #dropdown-container,
    #dropdown-container-new {
        margin-bottom: 0px !important;
    }

    #availibility_one {
        margin-top: -12px;
        padding-bottom: 19px;
    }

    .ms-address-row {
        padding-top: 10px;
    }

    .download img {
        width: 90%;
        height: auto !important;
    }

    .ms-footer-copyright {
        padding: 0.7rem 1rem .7rem;
    }

    .ms-footer-copyright p {
        font-size: 14px;
    }
}

@media screen and (min-width:992px) and (max-width:1154px) {    

    
    .pddleft50 {
        padding-left: 20px !important;  
        padding-right: 20px !important;
    }

    .register_width {
        width: 100% !important;
    }

    #cirtificate_one { 
        overflow: hidden;
        padding-right: 25px;
    }

    .select2-container { 
        width: 100% !important;
    }

    .register_width .col-md-6.mb-4:nth-child(even) {
        padding-left: 15px;
    }
    
    .register_width .col-md-6.mb-4:nth-child(odd) {
        padding-right: 15px;
    }

    .expt_button { 
        font-size: 45px; 
    }

    .last_chance {
        padding-left: 120px;
        margin-top: -26px;
        font-size: 30px; 
    }

    .font-size18 {
        font-size: 20px;
        line-height: 32px;
    }

    .font24 {
        font-size: 20px;
    }

    .font26 {
        font-size: 22px;
    }

    
    input#profile_photo {
        font-size: 14px !important;
        line-height: 1.3;
    }

    .education-row .col-md-6:nth-child(even) {
        padding-left: 15px !important; 
    }
    
    .education-row .col-md-6:nth-child(odd) { 
        padding-right: 15px !important;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {


    .pddleft50 {
        padding-left: 30px !important;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-right: 30px !important;
    }

    img.mobile_none {
        height: 670px;
        object-fit: cover;
        object-position: left;
    }

    html {
        overflow-x: hidden;
    }

    .login_logo img {
        position: relative;
        margin-left: 10px;
        right: 10px;
        width: 130px;
        top: 9px;
    }

    .font-size70 {
        font-size: 36px;

    }

    .main_heading {
        font-size: 22px;
        line-height: 50px;
    }

    .login_width {
        width: 100%;
    }

    .mt50 {
        margin-top: 23px;
        margin-bottom: 10px;
    }

    body .mobile-d-block {
        display: block !important;
    }

    .google_btn {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    p.divider {
        width: 100%;
    }

    .width55 {
        width: 100% !important;
    }

    .last_chance {
        padding-left: 0;
        margin-top: -15px;
        font-size: 35px;
        position: relative;
        left: 0;
    }

    .width45 img {
        width: 90%;
        float: none;
        margin-right: auto;
        margin-top: 30px;
        margin-left: auto;
        display: block;
    }

    .select2-container { 
        width: 100% !important;
    }

    .width45 {
        width: 100% !important;
    }

    .font-size18 {
        font-size: 20px;
        line-height: 29px;
        font-weight: 300;
        padding-bottom: 10px;
    }

    .cls_now {
        font-size: 36px;
    }

    .expt_button {
        font-size: 36px;
    }

    .ms-footer {
        margin-top: 25px;
    }

    .ms-footer-heading {
        padding-top: 30px;
    }

    .ms-footer-heading>* {
        margin: 0 0 12px;
        padding-left: 10px;
    }

    .ms-address-content {
        font-size: 13px;
        line-height: 1.286;
        margin-bottom: 10px;
        display: block;
        text-decoration: none;
        color: #fff;
    }


    .register_width {
        width: 100% !important;
    }

    .register_width .col-md-6.mb-4:nth-child(even) {
        padding-left: 10px !important;
    }

    .register_width .col-md-6.mb-4:nth-child(odd) {
        padding-right: 10px !important;
    }

    .auth_form {
        width: 100%;
    }

    .login_logo img {
        float: right;
    }

    #email_otp_model .modal-content {
        margin: 0px auto;
        width: 100%;
    }

    label.form-label {
        font-size: 14px !important;
    }

    .input_icon { 
        bottom: 8px !important;
    }

    input#profile_photo {
        font-size: 14px !important;
        line-height: 1.3;
    }

    .register_width p { 
        font-size: 16px;
    }

    .thankyou_page_login_btn a, .thankyou_page_view_btn a { 
        top: 0px !important;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-right: 0px !important;
        font-size: 14px !important;
    }

    .currently_work {
        text-align: left;
        padding-top: 0px;
        float: left !important;
    }

    .writewithai {
        border: 0px solid #ccc;
        border-radius: 50px;
        position: relative;
        margin-top: 20px;
        color: #901D56 !important;
    }

    .cirtificate_pdd .col-md-6:nth-child(even) {
        padding-left: 13px !important;
        padding-right: 13px;
    }

    .cirtificate_pdd .col-md-6:nth-child(odd) {
        padding-left: 13px !important;
        padding-right: 13px !important;
    }

    div#availibility_one .row.reference-row.mt-4 {
        padding-right: 0;
    }

    div#availibility_one .reference-row .col-md-6:nth-child(even) {
        padding-left: 13px;
        padding-right: 0;
    }

    div#availibility_one .reference-row .col-md-6:nth-child(odd) {
        padding-right: 0px;
    }

    #availibility_one {
        margin-top: -12px;
        padding-bottom: 19px;
    }

    #social-media-info .row {
        display: flex;
        flex-direction: column;
    }

    .ms-address-row {
        padding-top: 10px;
    }

    .download img {
        width: 90%;
        height: auto;
    }

    .ms-footer-copyright {
        padding: 0.7rem 1rem .7rem;
    }

    .ms-footer-copyright p {
        font-size: 14px;
    }
}

.document_required {
    padding-left: 20px;
    margin-top: -10px;
}

.document_required p {
    font-size: 15px;
    font-weight: 600;
    color: #6f6f6fe8 !important;
    margin-bottom: 10px;
}

.span_start {
    color: #ff7701;
    position: relative;
    top: 0;
    font-size: 20px;
}

.document_required li {
    color: #686868;
    font-weight: 300;
    list-style: none;
}

.document_required ul {
    padding-left: 0;
}

.preview_name {
    font-size: 22px;
    color: #b24020 !important;
    font-weight: 400;
}

.preview-content {
    font-size: 32px;
    text-shadow: -1px 0px 1px;
    font-weight: 400;
}

.preview-sub-text {
    font-weight: 500;
    color: #000c;
    padding-right: 2px;
}

.padd15 {
    padding-left: 15px;
}

.mgright20 {
    margin-right: -20px;
}

.mt51 {
    margin-top: 50px;
}

.mt70 {
    margin-top: 70px;
}


#dropdown-container,
#dropdown-container-new {
    margin: 20px;
    margin-left: 0px !important;
    margin-top: 6px !important;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

#dropdown-container-new {
    margin-left: 12px !important;
    width: 97%;
    padding-left: 0px;
}

.industry_option {
    color: #6f6f6fe8 !important;
    background-color: transparent !important;
    padding: 0px !important;
    font-weight: 300;
}

.industry_option:hover {
    color: #6f6f6fe8;
}

.dropdown.industry_option_dropdown {
    /* display: block; */
    /* margin-bottom: 30px; */
    margin-top: 10px;
}

.industry_option_dropdown .industry_option_dropdown_box {
    width: 450px !important;
    padding: 0px !important;
}

.industry_option_dropdown .title,
.industry_option_dropdown .title-new {
    margin-top: 5px !important;
    margin-bottom: 5px;
    padding: 5px 10px 5px !important;

}

.industry_option_dropdown .title:nth-child(1),
.industry_option_dropdown .title-new:nth-child(1) {
    margin-top: 0px !important;
}

.industry_option_dropdown .custom-languages {
    margin-left: 20px;
    margin-top: 0px !important;
}

.industry_option_dropdown_box .custom-languages label {
    position: relative;
    bottom: 3px;
}

.select_industries {
    width: 100% !important;
}


.select_industries select.dropdown-select {
    padding: 10px 0px;
    border: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    text-align: left;
    font-family: "Lato", sans-serif !important;
    font-size: 16px !important;
    font-weight: 300;
    color: #656565 !important;
}

div#list-industry li,
div#list-preferred-industry li {
    height: 34px !important;
    padding: 5px 17px 5px 24px !important;
    border-radius: 50px !important;
    cursor: pointer;
    margin-top: 7px;
    font-weight: 600 !important;
    background: #cccccc36 !important;
    font-size: 14px;
    list-style: none;
    float: left;
    margin-right: 5px;
    border: 1px solid #aaaaaa52 !important;
}

.dropdown-content .languages li input {
    margin-right: 5px;
}

label.select-all input {
    margin-right: 5px;
}

.dropdown.select_industries section:nth-child(5) {
    display: none;
}

.select_industries section:nth-child(5) {
    display: none;
}

.select_industries li {
    list-style: none;
}

select.custom-dropdown-select {
    padding: 10px 0px;
    border: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    text-align: left;
    font-family: "Lato", sans-serif !important;
    font-size: 16px !important;
    font-weight: 300;
    color: #656565 !important;
}

div#list-Preferred-industry li {
    height: 34px !important;
    padding: 5px 17px 5px 24px !important;
    border-radius: 50px !important;
    cursor: pointer;
    margin-top: 7px;
    font-weight: 600 !important;
    background: #cccccc36 !important;
    font-size: 14px;
    list-style: none;
    float: left;
    margin-right: 5px;
    border: 1px solid #aaaaaa52 !important;
}

label.custom-select-all {
    margin-left: 12px;
}

ul.custom-languages li input {
    margin-right: 5px;
}

label.custom-select-all input {
    margin-right: 5px;
}

.industry-check-box,
.select-all,
.custom-select-all,
.custom-languages {
    list-style-type: none;
    padding: 0;
}

.industry-check-box li,
.select-all li,
.custom-select-all input,
.custom-languages li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* Hide the default checkbox */
.industry-check-box .language-option,
label.select-all input,
.custom-select-all input,
.custom-languages input {
    appearance: none;
    width: 17px;
    height: 17px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

/* Style the checkbox when checked */
.industry-check-box .language-option:checked,
label.select-all input:checked,
label.custom-select-all input:checked,
.custom-languages input:checked {
    border-color: #901D56;
    background: linear-gradient(34.89deg, #4B2779 8%, #BE2475 83.76%);
    border: 0px solid #901D56;
}

.form-check-input:focus {
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}

.form-check-input.custom-checkbox:checked {
    background-color: transparent;
    border-color: transparent;
}

/* Add a checkmark */
.industry-check-box .language-option:checked::after,
label.select-all input:checked::after,
label.custom-select-all input:checked::after,
.custom-languages input:checked::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    top: 3px;
    left: 6px;
    transform: rotate(45deg);
}

label.select-all input {
    position: relative;
    top: 3px;
    padding-right: 0 !important;
    margin-right: 3px;
}

ul.custom-languages {
    margin-left: 30px;
}

ul.custom-languages li {
    margin-bottom: 4px;
}

label.custom-select-all {
    display: flex !important;
}

.custom-select-all input {
    position: relative;
    top: 3px;
    padding-right: 0 !important;
    margin-right: 3px;
}