
body
{
    background-color: #f6f6f6;
}

.box_shadows
{
    /* box-shadow: 0px 8px 40px 0px #0000001A; */
    background-color:#fff;
    border-radius: 50px;
}
.image-profile.box_shadows {
    border-radius: 50px 50px 50px 50px;
    margin-top: 140px;
}
/* .container {
    max-width: 900px;
} */

.profile-content h3 {
    padding-top: 45px;
    font-weight: 700;
    font-size: 32px;
    color: #1B1919;
}

.profile-content p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.profile-content span {
    font-size: 16px;
    font-weight: 400;
    color: #535353;
}

.profile-page .profile-content a {
    font-weight: 700 !important;
    font-size: 15px;
    border-radius: 13px;
}

.profile-page .profile-content a:hover {
    color: #fff;
}

.bg-profile-content {
    padding-right: 10px;
    margin-top: -40px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #E7ECEF;
}

.bg-profile-content .user_img {
    width: 22%;
    padding-left: 40px;
    margin-top: -40px;
}

.bg_verified_main {
    display: flex;
    align-items: center;
    gap: 9px;
}

.user-profile-social-links {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    flex-wrap: wrap;
    gap: 15px;
}

p.bg_verified_text {
    margin-bottom: 0px;
}

.user-social-links .user_social {
    width: 25px;
}

.bg_verified_bold_text {
    font-size: 18px;
    font-weight: 400; 
    color: #1B1919;
}

.mt-35 {
    margin-top:25px;
}

.padd-40 {
    padding: 35px 40px 35px 40px;
}

.profile_heds {
    color: #AE446A;
    padding-bottom: 15px;
}

.profile_content_main_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-page p {
    font-weight: 400;
    color: #535353;
    font-size: 15px;
    line-height: 18px;
}

.profile-page strong {
    font-weight:bold;
}

.profile-content {
    padding-left: 20px;
}

.profile_btn {
text-decoration: none;
font-weight: 500;
}

.connect_btn {
color: #fff;
padding: 7px 25px 8px 25px !important;
font-weight: 600 !important;
}

.connect_btn:hover {
color: #fff !important;
}

.connect_btn i {
padding-right: 5px;
}

.profile-content .purple_btn {
/* width: 90%; */
}

.mngmnt_school span, .profile_manalot_div span {
font-size: 15px;
font-weight: 400;
color: #535353;
line-height: 18px;
}

img.profile_manalot_logo {
width: 40px;
}

.telegram_icon {
    padding: 0px 5px 3px 0px;
}

/* .profile_btn .fa.fa-telegram::before {
color: #535353;
} */

.profile_btn.message_btn {text-decoration: none;font-weight: 500;color: #535353;background: #E7ECEF;padding: 8px 24px 9px 24px;border-radius: 20px;}
.profile_btn.message_btn:hover {
color: #535353;
}

.info-section {
display: flex;
}

.personal_info_div {display: flex;flex-direction: column;flex-wrap: nowrap;gap: 5px;}

.about_heading_div {display: flex;gap: 20px;align-items: center;margin-bottom: 35px;}

img.user_icon {
object-fit: contain;
}

.about_heading {margin-bottom: 0px;color: #AE446A;font-size: 24px;font-weight: 600;}

.profile-information h5 {
    font-weight: 600;
    font-size: 20px;
}

.personal_info .fa {
    padding-right: 12px;
}

.personal_info {
    color: #535353 !important;
    font-size: 16px;
    font-weight: 400;
}

.work_exp > div:not(:first-child):not(:last-child) {
    margin-bottom: 30px;
}

.work_exp>div img:not(.work_exp>div:nth-child(1) img) {
    width: 60px;
}

.bold_see_more {
    font-weight: 700;
}

.work_exp .industry_main_div, .work_exp .skills_main_div {
    display: flex;
    align-items: start;
    gap: 20px;
    padding-bottom: 20px;
    /* flex-wrap: wrap; */
}

.work_exp .skills_main_div_heading, .work_exp .industry_main_div {
    font-size: 15px;
    font-weight: 600;
    color: #535353;
}

.industry_div_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.industry_main_div_heading, .skills_main_div_heading {
    width: 80px;
    font-weight: 600 !important;
}

.work_exp .bg_verified_main img {
    width: 15px !important;
}


.user-social-links-main-div {
    padding: 14px 40px 14px 40px;
}

.user-social-links {
    display: flex;
    gap: 24px;
    align-items: center;
}

.personal_info a {
    color: #535353;
    text-decoration: none;
}

a.visit_mln {
    margin-bottom: 20px;
    text-decoration: none;
    color: #535353;
    font-size: 16px;
}

.education_main_div .col-md-6 img {
    width: 60px;
    height: 60px;
}

.author_main_div p{
    margin-bottom: 0px;
}

span.user_yes {
    font-size: 18px;
    font-weight: 400;
}

.maple_consluting {
    font-weight: 800;
    color: #535353;
    font-size: 18px;
}

@media screen and (max-width:991px){
    .bg-profile-content {
        flex-direction: column;
        align-items: start;
        gap: 5px;
        margin-top: 0px;
        padding: 20px 20px;
    }
    
    .profile_content_main_div {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    
    .profile-content h3 {
        padding-top: 10px;
    }
    
    .profile-page h5 {
        font-size: 17px;
    }
    
    .image-profile.box_shadows {
        border-radius: 40px;
        margin-top: 80px;
    }

    .profile-information {
        flex-direction: column;
        border-radius: 40px;
    }
    
    .padd-40 {
        padding: 30px 30px;
    }
    
    .personal_info_div {
        gap: 5px;
        margin-bottom: 25px;
    }
    
    .user-social-links {
        gap: 20px;
    }

    .work_exp .col-12 img {
        object-fit: contain;
    }
    
    .work_exp p {
        font-size: 13px;
        line-height: 17px;
    }

    .author_main_div div:nth-child(even):not(.author_main_div div:nth-child(even) div) {
        flex-direction: column;
        align-items: start;
    }

    img.right_mark {
        width: 20px;
    }

    .profile-page .top-section {
        display: none;
    }

}

@media screen and (min-width:768px) and (max-width:991px){
    .author_main_div div:nth-child(even):not(.author_main_div div:nth-child(even) div) {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .header { 
        height: 80px; 
        padding: 10px 0px 0px;
    }

    header { 
        padding: 0px 0px 0px 10px;
        height: 60px;
        justify-content: space-between;
    }

    .user_header_logo {
        width: 60px;
    }

    .user_header_right {
        gap: 20px;
    }

    .header_drishti_img {
        width: 60px;
    }

    .image-profile.box_shadows { 
        margin-top: 110px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px){

    .bg-profile-content {
        align-items: end;
    }
}

@media screen and (max-width:767px) {
    .header { 
        border-radius: 0px;
        height: 60px; 
        padding: 0px 0px 0px;
    }

    
    .bg-profile-content .user_img {
        width: 80%;
        margin: 0px auto;
    }

    header { 
        border-radius: 0px;
        padding: 0px;
        height: 60px; 
    }

    .user_header_mobile header .logo_search_div {
        justify-content: space-around;
    }

    .user_header_logo {
        width: 50px;
    }

    .search_input input {
        width: 56vw;
        padding: 0px;
        height: 40px;
        border-radius: 0px;
        padding: 5px;
        font-size: 18px;
        color: #535353;
        font-weight: 400;
    }

    .user_header .search_input button {
        background-color: inherit;
        padding: 0px;
        border-radius: 25px;
        font-size: inherit;
    }

    .user_header .search_input button i {
        font-size: 22px;
    }

    .user_header_mobile .user_header_right {
        justify-content: space-around !important;
        gap: 0px
    }

    .user_header_right a img {
        height: auto; 
        width: 27px;
    }
    .notification_box {
        position: absolute;
        top: 50px;
        margin-left: -120px;
    }

    form.search_input {
        position: relative;
    }

    .mobile_search_input {
        position: absolute;
        flex-direction: row;
        left: -20px;
        padding: 0px 5px;
    }

    .user_header .search_input .mobile_search_input button {
        background: #e7ecef;
        padding: 10px;
        height: 40px;
    }

    .user_header .search_input .mobile_search_input button.close {
        border-radius: 10px 0px 0px 10px;
        font-size: 18px;
        color: #535353;
        font-weight: 600;
        line-height: 19px;
    }

    .user_header .search_input .mobile_search_input button.searched {
        border-radius: 0px 10px 10px 0px;
    }

    .profile_content_main_div a {
        padding: 7px 20px !important;
    }

    .profile-content {
        padding-left: 0px;
    }
}

@media screen and (max-width:360px) {
    
    .ai_search_bar::placeholder {
        font-size: 13px !important;
    }

    .ai_search_bar {
        background: url(/assets/images/ai_stars.png) no-repeat 11.4em center;
        background-size: 16px 16px;
    }

    .like_comnt_list span { 
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .like_comnt_link img {
        margin-bottom: 4px;
        height: 18px;
    }

}